@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.display-1 {
  @apply text-[1.25rem] leading-[1.5] tracking-[0.325rem] max-md:text-base;
}

.display-2 {
  @apply text-[3.75rem] leading-[1.5] tracking-[0.325rem] max-md:text-[2.25rem];
}

.heading-1-lg {
  @apply text-[2.75rem] leading-[1.5] tracking-[0.325rem] max-md:text-[1.75rem];
}

.heading-1-md {
  @apply text-[2.25rem] leading-[1.5] tracking-[0.25rem] max-md:text-[1.5rem];
}

.heading-1-sm {
  @apply text-[2rem] leading-[1.5] tracking-[0.0625rem] md:tracking-[0.125rem] max-md:text-[1.25rem];
}

.heading-2-lg {
  @apply text-[1.75rem] leading-[1.5] tracking-[0.25rem] max-md:text-[1.25rem];
}

.heading-2-sm {
  @apply text-[1.5rem] leading-[1.5] tracking-[0.125rem] max-md:text-[1rem];
}

.heading-3-sm {
  @apply text-[1.25rem] leading-[1.5] tracking-[0.125rem] max-md:text-[1rem];
}

.heading-4-lg {
  @apply text-[1.375rem] leading-[1.45] tracking-[0.125rem] max-md:text-[1.125rem];
}

.heading-4-sm {
  @apply text-[1.25rem] leading-[1.4] tracking-[0] max-md:text-[1rem];
}

.heading-5-lg {
  @apply text-base leading-[1.5] tracking-[0] max-md:text-[0.85rem];
}

.heading-6-lg {
  @apply text-[1rem] leading-[1.5] tracking-[0] max-md:text-[0.875rem];
}

.heading-6-sm {
  @apply text-[0.85rem] leading-[1.42] tracking-[0] max-md:text-[0.75rem];
}

.caption {
  @apply text-[0.75rem] leading-[1.5] tracking-[0] max-md:text-[0.625rem];
}

.category-text,
button,
.footer p {
  white-space: nowrap;
}

.category-bar::-webkit-scrollbar,
.navbar section::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.category-bar,
.navbar section,
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rotate {
  transform: rotate(180deg);
}

.navbar {
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 999;
  transition: left 0.5s ease-in-out;
}

.overlay {
  height: 100vh;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
}

.showcase {
  row-gap: 2.5rem;
}

.dots {
  display: flex;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff69b4;
  margin: 0 4px;
  opacity: 0;
  animation: fadeDot 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes fadeDot {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-link img {
  transition: transform 0.5s ease-in-out;
}

.product-link:hover img {
  transform: scale(1.05);
}
