@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.display-1 {
  @apply text-[1.25rem] leading-[1.5] tracking-[0.325rem] max-md:text-base;
}

.display-2 {
  @apply text-[3.75rem] leading-[1.5] tracking-[0.325rem] max-md:text-[2.25rem];
}

.heading-1-lg {
  @apply text-[2.75rem] leading-[1.5] tracking-[0.325rem] max-md:text-[1.75rem];
}

.heading-1-md {
  @apply text-[2.25rem] leading-[1.5] tracking-[0.25rem] max-md:text-[1.5rem];
}

.heading-1-sm {
  @apply text-[2rem] leading-[1.5] tracking-[0.0625rem] md:tracking-[0.125rem] max-md:text-[1.25rem];
}

.heading-2-lg {
  @apply text-[1.75rem] leading-[1.5] tracking-[0.25rem] max-md:text-[1.25rem];
}

.heading-2-sm {
  @apply text-[1.5rem] leading-[1.5] tracking-[0.125rem] max-md:text-[1rem];
}

.heading-3-sm {
  @apply text-[1.25rem] leading-[1.5] tracking-[0.125rem] max-md:text-[1rem];
}

.heading-4-lg {
  @apply text-[1.375rem] leading-[1.45] tracking-[0.125rem] max-md:text-[1.125rem];
}

.heading-4-sm {
  @apply text-[1.25rem] leading-[1.4] tracking-[0] max-md:text-[1rem];
}

.heading-5-lg {
  @apply text-base leading-[1.5] tracking-[0] max-md:text-[0.85rem];
}

.heading-6-lg {
  @apply text-[1rem] leading-[1.5] tracking-[0] max-md:text-[0.875rem];
}

.heading-6-sm {
  @apply text-[0.85rem] leading-[1.42] tracking-[0] max-md:text-[0.75rem];
}

.caption {
  @apply text-[0.75rem] leading-[1.5] tracking-[0] max-md:text-[0.625rem];
}

.category-text,
button,
.footer p {
  white-space: nowrap;
}

label {
  cursor: pointer;
}

.category-bar::-webkit-scrollbar,
.navbar section::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
body.open {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

button {
  transition: all 0.3s;
}

.category-bar,
.navbar section,
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rotate {
  transform: rotate(180deg);
}

.navbar {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 999;
  transition: left 0.5s ease-in-out;
}

.overlay {
  height: 100vh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
}

.showcase {
  row-gap: 2.5rem;
}

.dots {
  display: flex;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff69b4;
  margin: 0 4px;
  opacity: 0;
  animation: fadeDot 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes fadeDot {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-link img {
  transition: transform 0.5s ease-in-out;
}

.product-link:hover img {
  transform: scale(1.05);
}

.cart {
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: -100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.5s ease-in-out;
}

.cart.open {
  right: 0;
}

.quick-add {
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.product-link:hover .quick-add {
  bottom: 0;
}

.shipping-option:hover {
  border-color: #1b1b1b;
}

.shipping-option.checked {
  border-color: #1b1b1b;
}

.shipping-option:first-child {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.shipping-option:last-child {
  bottom: 0;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.paystack,
.round-top {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.flutterwave,
.round-bottom {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1b1b1b;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Banner.css */
.text-container {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.flipped-enter {
  opacity: 0;
  transform: scale(0.95);
}

.flipped-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.flipped-exit {
  opacity: 1;
  transform: scale(1);
}

.flipped-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.125rem;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #f0f0f0;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #d83992;
  border-color: #d83992;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 0.36rem;
  top: 0.2rem;
  width: 0.2rem;
  height: 0.4rem;
  border: solid white;
  border-width: 0 0.08rem 0.08rem 0;
  transform: rotate(45deg);
}

.custom-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-button {
  width: 0.975rem;
  height: 0.975rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.custom-radio:hover .radio-button {
  border-color: #999;
}

.custom-radio input[type="radio"]:checked + .radio-button {
  border-color: #000;
}

.custom-radio input[type="radio"]:checked + .radio-button::after {
  content: "";
  width: 0.4875rem;
  height: 0.4875rem;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input::placeholder {
  transition: all 0.3s ease;
}

/* For Mozilla Firefox */
input::-moz-placeholder {
  transition: all 0.3s ease;
}

/* For Internet Explorer 10-11 */
input:-ms-input-placeholder {
  transition: all 0.3s ease;
}

/* For Microsoft Edge */
input::-ms-input-placeholder {
  transition: all 0.3s ease;
}

/* For Google Chrome, Safari, and Opera */
input::-webkit-input-placeholder {
  transition: all 0.3s ease;
}
